<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>送货地址</title>
    <link rel="stylesheet" href="address.css" />
    <script src="./vue.js"></script>
    <script src="./axios.js"></script>
  </head>
  <body>
    <article>
      <svg
        style="display:none;"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <symbol id="icon-add" viewBox="0 0 32 32">
            <title>add2</title>
            <path
              class="path1"
              d="M15 17h-13.664c-0.554 0-1.002-0.446-1.002-1 0-0.552 0.452-1 1.002-1h13.664v-13.664c0-0.554 0.446-1.002 1-1.002 0.552 0 1 0.452 1 1.002v13.664h13.664c0.554 0 1.002 0.446 1.002 1 0 0.552-0.452 1-1.002 1h-13.664v13.664c0 0.554-0.446 1.002-1 1.002-0.552 0-1-0.452-1-1.002v-13.664z"
            ></path>
          </symbol>
          <symbol id="icon-edit" viewBox="0 0 32 32">
            <title>edit</title>
            <path
              class="path1"
              d="M25.599 11.292l-4.892-4.892 3.825-3.825 4.892 4.892-3.825 3.825zM4.732 23.308l3.959 3.959-5.939 1.98 1.98-5.939zM10.666 26.225l-4.892-4.892 13.425-13.425 4.892 4.892-13.425 13.425zM31.687 6.713l-6.4-6.4c-0.417-0.417-1.091-0.417-1.508 0l-20.267 20.267c-0.114 0.115-0.191 0.25-0.242 0.393-0.003 0.009-0.012 0.015-0.015 0.025l-3.2 9.6c-0.128 0.383-0.029 0.806 0.257 1.091 0.203 0.204 0.476 0.313 0.754 0.313 0.112 0 0.227-0.017 0.337-0.054l9.6-3.2c0.011-0.003 0.017-0.013 0.027-0.016 0.142-0.052 0.276-0.128 0.39-0.242l20.267-20.267c0.417-0.416 0.417-1.091 0-1.508v0z"
            ></path>
          </symbol>
          <symbol id="icon-del" viewBox="0 0 26 32">
            <title>delete</title>
            <path
              class="path1"
              d="M17.723 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM7.877 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM12.8 28c0.543 0 0.985-0.448 0.985-1v-12c0-0.552-0.441-1-0.985-1s-0.984 0.448-0.984 1v12c0 0.552 0.441 1 0.984 1v0zM23.631 4h-5.908v-2c0-1.104-0.882-2-1.969-2h-5.908c-1.087 0-1.969 0.896-1.969 2v2h-5.908c-1.087 0-1.969 0.896-1.969 2v2c0 1.104 0.882 2 1.969 2v18c0 2.208 1.765 4 3.939 4h13.784c2.174 0 3.938-1.792 3.938-4v-18c1.087 0 1.969-0.896 1.969-2v-2c0-1.104-0.882-2-1.969-2v0zM9.846 3c0-0.552 0.441-1 0.984-1h3.938c0.544 0 0.985 0.448 0.985 1v1h-5.908v-1zM21.662 28c0 1.104-0.882 2-1.969 2h-13.784c-1.087 0-1.97-0.896-1.97-2v-18h17.723v18zM22.646 8h-19.692c-0.543 0-0.985-0.448-0.985-1s0.441-1 0.985-1h19.692c0.543 0 0.984 0.448 0.984 1s-0.441 1-0.984 1v0z"
            ></path>
          </symbol>
        </defs>
      </svg>
      <section class="procedure">
        <div class="currentStep">地址确认</div>
        <div>查看订单</div>
        <div>在线支付</div>
        <div>订单确认</div>
      </section>
      <section>
        <div class="title"><span>配送地址</span></div>
        <ul class="addressesList">
          <li
            v-for="(address,index) of limitedAddressesList"
            :key="index"
            :class="{checked:index===currentIndex}"
            @click="currentIndex=index"
          >
            <p>{{ address.name }}</p>
            <p>{{ address.location }}</p>
            <p>{{ address.tel }}</p>
            <p
              class="setDefault"
              v-if="!address.isDefault"
              @click="setDefault(address.id)"
            >
              设为默认
            </p>
            <p class="defaultAddress" v-if="address.isDefault">默认地址</p>
            <svg class="icon icon-edit">
              <use xlink:href="#icon-edit"></use>
            </svg>
            <svg class="icon icon-del" @click="deleteAddress(address)"><use xlink:href="#icon-del"></use></svg>
          </li>
          <li class="addAddress">
            <svg class="icon icon-add"><use xlink:href="#icon-add"></use></svg>
            <p>添加地址</p>
          </li>
        </ul>
        <div class="loadMore">
          <div class="more" @click="changeAddressesNumber">
            more<i class="moreButton"></i>
          </div>
        </div>
      </section>
      <section>
        <div class="title"><span>配送方式</span></div>
        <div class="shippingMethod">
          <div :class="{checked:shippingMethod===1}" @click="shippingMethod=1">
            <p>标准配送</p>
            <p>Free</p>
          </div>
          <div :class="{checked:shippingMethod===2}" @click="shippingMethod=2">
            <p>高级配送</p>
            <p>180元</p>
          </div>
        </div>
      </section>
      <section class="nextStep">
        <a href="javascript:;"><div class="nextButton">下一步</div></a>
      </section>
    </article>
    <script src="address.js"></script>
  </body>
</html>
