<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>购物车</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./vue.js"></script>
    <script src="./axios.js"></script>
  </head>
  <body>
    <svg
      style="display:none;"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs>
        <symbol id="icon-ok" viewBox="0 0 39 32">
          <title>ok</title>
          <path
            class="path1"
            d="M14.084 20.656l-7.845-9.282c-1.288-1.482-3.534-1.639-5.016-0.351s-1.639 3.534-0.351 5.016l10.697 12.306c1.451 1.669 4.057 1.623 5.448-0.096l18.168-22.456c1.235-1.527 0.999-3.765-0.528-5.001s-3.765-0.999-5.001 0.528l-15.573 19.337z"
          ></path>
        </symbol>
        <symbol id="icon-del" viewBox="0 0 26 32">
          <title>delete</title>
          <path
            class="path1"
            d="M17.723 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM7.877 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM12.8 28c0.543 0 0.985-0.448 0.985-1v-12c0-0.552-0.441-1-0.985-1s-0.984 0.448-0.984 1v12c0 0.552 0.441 1 0.984 1v0zM23.631 4h-5.908v-2c0-1.104-0.882-2-1.969-2h-5.908c-1.087 0-1.969 0.896-1.969 2v2h-5.908c-1.087 0-1.969 0.896-1.969 2v2c0 1.104 0.882 2 1.969 2v18c0 2.208 1.765 4 3.939 4h13.784c2.174 0 3.938-1.792 3.938-4v-18c1.087 0 1.969-0.896 1.969-2v-2c0-1.104-0.882-2-1.969-2v0zM9.846 3c0-0.552 0.441-1 0.984-1h3.938c0.544 0 0.985 0.448 0.985 1v1h-5.908v-1zM21.662 28c0 1.104-0.882 2-1.969 2h-13.784c-1.087 0-1.97-0.896-1.97-2v-18h17.723v18zM22.646 8h-19.692c-0.543 0-0.985-0.448-0.985-1s0.441-1 0.985-1h19.692c0.543 0 0.984 0.448 0.984 1s-0.441 1-0.984 1v0z"
          ></path>
        </symbol>
      </defs>
    </svg>
    <article id="app">
      <header class="title"><span>购物车</span></header>
      <main class="table">
        <header class="thead">
          <div>商品信息</div>
          <div>商品金额</div>
          <div>商品数量</div>
          <div>总金额</div>
          <div>编辑</div>
        </header>
        <ul class="tbody">
          <li v-for="(item,index) of productList" :key="index">
            <div class="cart-tab cart-tab-1">
              <div
                class="check-button"
                :class="{checked:item.isChecked}"
                @click="selectProduct(item)"
              >
                <svg><use xlink:href="#icon-ok"></use></svg>
              </div>
              <div class="item-image">
                <img :src="item.img" :alt="item.name" width="50" height="50" />
              </div>
              <div class="item-and-gift">
                <div class="item-name">{{ item.name }}</div>
                <div class="gift" v-if="item.gifts">
                  <small
                    >赠品：<span
                      class="gift-name"
                      v-for="(gift,index) of item.gifts"
                      :key="index"
                      >{{ gift.giftName
                      }}<span v-if="index<item.gifts.length-1">,</span>
                    </span></small
                  >
                </div>
              </div>
            </div>
            <div class="cart-tab cart-tab-2">{{ item.price | currency }}</div>
            <div class="cart-tab cart-tab-3">
              <div class="amount-control">
                <button @click="minus(item)">-</button>
                <input type="text" v-model="item.amount" />
                <button @click="add(item)">+</button>
              </div>
              <div class="in-stock"><small>有货</small></div>
            </div>
            <div class="cart-tab cart-tab-4">
              {{ item.price * item.amount | currency }}
            </div>
            <div class="cart-tab cart-tab-5" @click="tryToDelete(item)">
              <svg class="icon icon-del">
                <use xlink:href="#icon-del"></use>
              </svg>
            </div>
          </li>
        </ul>
      </main>
      <div class="empty-cart" v-if="productList.length===0">购物车没有商品</div>
      <section class="tfoot">
        <div class="tfoot-left">
          <div
            class="check-button"
            :class="{checked:isCheckAll}"
            @click="CheckAll"
          >
            <svg><use xlink:href="#icon-ok"></use></svg>
          </div>
          <div class="select-all" @click="CheckAll">全选</div>
        </div>
        <div class="tfoot-right">
          <div class="total-price">总价：{{ totalPrice | currency }}</div>
          <a class="next-button" href="#" @click="nextStep">去结算</a>
        </div>
      </section>
      <div class="warning" v-if="showWarning">请选择商品</div>
      <div
        class="mask"
        :class="{showModal:showModal}"
        @click.self="cancelDelete"
      >
        <div class="modal">
          <div class="modal-inner">
            <div class="close-modal" @click="cancelDelete"></div>
            <div class="confirm-message">你确认删除该商品吗?</div>
            <div class="confirm-buttons">
              <button class="confirm-button" @click="deleteItem">Yes</button>
              <button class="confirm-button red-button" @click="cancelDelete">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </article>
    <script src="main.js"></script>
  </body>
</html>
