* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

article {
  max-width: 1280px;
  margin: 20px auto;
}

.title {
  margin: 30px 0;
  text-align: center;
  position: relative;
}

.title > span {
  color: #605f5f;
  font-size: 20px;
  background: white;
  z-index: 1;
  padding: 15px;
  font-weight: bold;
}

.title::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: #ccc;
  top: 50%;
  left: 0;
  z-index: -1;
}

.table {
  display: table;
  width: 100%;
}

.thead {
  background: #605f5f;
  color: white;
  width: 100%;
  display: table-header-group;
}

.thead > div {
  display: table-cell;
  font-size: 18px;
  padding: 15px;
}

.thead > div:first-child {
  width: 40%;
  text-align: center;
}

.tbody {
  display: table-row-group;
}

.tbody > li {
  width: 100%;
  display: table-row;
}

.tbody > li > div {
  display: table-cell;
}

.tbody > li > div:first-child {
  width: 40%;
}

.cart-tab {
  padding: 15px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}

.cart-tab > * {
  display: inline-block;
  vertical-align: middle;
}

.cart-tab-1 {
  border-left: 1px solid #e9e9e9;
}

.cart-tab-5 {
  border-right: 1px solid #e9e9e9;
}

.item-image {
  border: 1px solid #eee;
  display: inline-flex;
  margin-left: 30px;
}

.check-button svg {
  height: 20px;
  width: 20px;
  border: 1px black solid;
  border-radius: 50%;
  padding: 3px;
  fill: white;
}

.check-button.checked svg {
  fill: red;
}

.cart-tab-5 svg {
  height: 15px;
  width: 15px;
}

.item-name,
.gift {
  padding-left: 10px;
}

.gift {
  color: #999;
}

.tfoot {
  display: flow-root;
  width: 100%;
  vertical-align: middle;
}

.tfoot-left {
  float: left;
}

.tfoot-left > *,
.tfoot-right > * {
  float: left;
}

.tfoot-right > * {
  padding: 10px 30px;
}

.tfoot-left > *:not(:first-child) {
  padding: 10px 10px;
}

.tfoot-left > *:first-child {
  padding: 10px 0px;
}

.tfoot-right {
  float: right;
}

.tfoot-right,
.tfoot-left {
  display: flow-root;
  margin: 15px;
}

.next-button {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #d1434a;
}

.next-button:hover {
  background-color: #b12b32;
}

.cart-tab-3 input,
.cart-tab-3 button {
  width: 25px;
  text-align: center;
}

.in-stock,
.amount-control {
  display: flex;
}

.in-stock {
  padding-left: 23px;
  color: #999;
}

.check-button,
.select-all,
.icon {
  cursor: pointer;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.mask.showModal {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-inner {
  transform: translateY(20%);
  padding: 40px 30px;
  background: white;
  opacity: 0;
  transition: all 0.5s;
}

.mask.showModal .modal-inner {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}

.confirm-message {
  text-align: center;
  padding: 30px;
}

.close-modal {
  position: absolute;
  top: 7px;
  right: 7px;
}

.confirm-buttons {
  text-align: center;
}

.confirm-button {
  padding: 10px 50px;
  margin: 10px;
  background: white;
  border: #d1434a 1px solid;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

.confirm-button:hover,
.red-button {
  background: #d1434a;
  color: white;
}

.close-modal {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.close-modal:before,
.close-modal:after {
  position: absolute;
  top: 10px;
  right: 0px;
  content: "";
  width: 25px;
  height: 2px;
  background: #605f5f;
  transition: transform 0.5s;
}

.close-modal:before {
  transform: rotate(-45deg);
}

.close-modal:after {
  transform: rotate(45deg);
}

.close-modal:hover:before {
  transform: rotate(-135deg);
}

.close-modal:hover:after {
  transform: rotate(-45deg);
}

.empty-cart {
  text-align: center;
  margin: 50px;
}

.warning {
  color: red;
  float: right;
  padding-right: 15px;
}
